<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'credits')}">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <h3>Developed by <a href="https://github.com/pedro911">Pedro Henrique Marangoni</a></h3>
        <p></p>
        <p class="lead">Dissertation Project to attain Master Degree in Information Systems at <a href="https://www.uni-muenster.de/en/">WWU - Münster - Germany</a></p>
        <p></p>
        <p class="lead">Supervisor: <a href="https://www.wi.uni-muenster.de/department/is/people/friedrich-chasin">Dr. Friedrich Chasin</a></p>

    </div>
</main>
</body>
</html>