<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<h2 th:text="'List of Dimensions'">List of Dimensions...</h2>

<table class="table table-striped">
    <!--/*@thymesVar id="dimension" type="de.wwu.ercis.genericdwhapp.model.genericdwh.Dimension"*/-->
    <thead>
    <tr>
        <th style="width: 10px;">Id</th>
        <th style="width: 250px;">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dimension : ${dimensions}">
        <td th:text="${dimension.id}">1</td>
        <td style="width: 250px;" th:text="${dimension.name}">Month</td>
    </tr>

    </tbody>
</table>

</body>
</html>

