<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p></p>
        <img class="img-responsive" src="../static/resources/images/genericdwh_slides.png" th:src="@{/resources/images/genericdwh_slides.png}"/>
        <p></p>
        <p class="lead">Generic DWH Tool - Comparing performance with Star and Snowflake schemas</p>
    </div>
</main>

</body>
</html>