<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'stats')}">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
</head>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <h3 class="text-center">Query Times for each DB Size and Model (from written doc)</h3>
        <br/>
        <div class="card">
            <div class="card-header">
                Query Running Time for SF1
            </div>
            <div class="card-body">
                <canvas id="graph_SF1"></canvas>
            </div>
        </div>
        <br/>

        <div class="card">
            <div class="card-header">
                Query Running Time for SF10
            </div>
            <div class="card-body">
                <canvas id="graph_SF10"></canvas>
            </div>
        </div>
        <br/>

    </div>

    <div class="jumbotron">
        <h3 class="text-center">Query Times for each DB Size and Model (dynamic)</h3>
        <br/>
        <div class="card">
            <div class="card-header">
                Top 5 Slowest Queries on Small DBs
            </div>
            <div class="card-body">
                <canvas id="graph_smallDBs"></canvas>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Queries
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Queried Dimensions and Ratios for Small DB</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="queryStringSmall: ${queryStringsSmall}">
                        <td th:text="${queryStringSmall.getQueryStringId()}"></td>
                        <td th:text="${queryStringSmall.getRefObjRatios()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Top 5 Slowest Queries on 1GB DBs
            </div>
            <div class="card-body">
                <canvas id="graph_1gbDBs"></canvas>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Queries
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Queried Dimensions and Ratios for 1GB DB</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="queryString1GB: ${queryStrings1GB}">
                        <td th:text="${queryString1GB.getQueryStringId()}"></td>
                        <td th:text="${queryString1GB.getRefObjRatios()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Query Count for each DB Size
            </div>
            <div class="card-body">
                <canvas id="graph_total"></canvas>
            </div>
        </div>
        <br/>

    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
        integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
<script th:src="@{/resources/js/graph.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var color = Chart.helpers.color;

    var graph_SF1_data = {
        labels: ["Q1.1","Q2.1","Q2.2","Q3.1","Q3.2","Q3.3","Q4.1","Q5.1","Q5.2","Q6.1","Q7.1","Q7.2","Q8.1","Q9.1","Q10.1","Q10.2"],
        datasets: [
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.yellow,
                borderWidth: 1,
                data: [9.22, 8.81,9.40,11.30,16.34,10.35,2.52,9.42,16.01,11.74,40.95,16.62,2.83,5.79,8.44,23.94]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [43.59,7.08,13.66,7.91,27.34,8.47,14.00,1002.37,2022.33,11.19,253.62,228.83,34.87,7.57,8.18,38.48]},
            {
                label: 'GDWH NCB',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [43.77,42.46,52.38,53.38,189.99,16.35,30.68,44.34,116.96,60.06,140.16,111.82,25.82,7.77,16.56,49.19]},
            {
                label: 'GDWH DYN',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [43.85,42.61,52.83,53.52,196.43,16.93,30.83,44.59,127.29,62.69,140.98,113.95,26.36,8.48,53.37,71.47]},
            {
                label: 'GDWH ACB',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [0.03,0.01,0.01,0.07,0.05,0.03,0.06,0.01,0.01,6.02,344.94,9.07,0.03,1.73,2.04,1.43]}
        ]
    };

    var graph_SF10_data = {
        labels: ["Q1.1","Q2.1","Q2.2","Q3.1","Q3.2","Q3.3","Q4.1","Q5.1","Q5.2","Q6.1","Q7.1","Q7.2","Q8.1","Q9.1","Q10.1","Q10.2"],
        datasets: [
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.yellow,
                borderWidth: 1,
                data: [78.65, 75.88 , 83.45 , 98.27 , 139.54,  90.32, 79.38 , 82.35 , 137.23 , 107.92 , 3304.04 , 171.22 , 24.57 , 57.28 , 77.29 , 300.33]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [447.04 , 59.39 , 117.20 , 96.65 , 239.89 , 72.46 , 667.49 , 8548.14 , 17344.92 , 95.16 , 6521.63 , 1961.30 , 297.36 , 76.06 , 75.47 , 358.18 ]},
            {
                label: 'GDWH NCB',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [ 710.37 , 766.66 , 783.02 , 849.03 , 3396.00 , 342.32 , 246.70 , 795.65 , 3665.61 , 1881.13 , 61257.00 , 5857.39 , 56395.47 , 21860.81 , 2594.14 , 35612.23 ]},
            {
                label: 'GDWH DYN',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [ 710.52 , 766.78 , 783.46 , 849.21 , 3402.54 , 342.90 , 246.86 , 795.89 , 3676.05 , 1883.68 , 61257.79 , 5858.77 , 56396.02 , 21861.52 , 2893.50 , 35886.12 ]},
            {
                label: 'GDWH ACB',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [ 0.04 , 0.02 , 0.01 , 0.05 , 0.03 , 0.02 , 0.22 , 0.01 , 0.01 , 28.82 , 6164.37 , 250.67 , 1.39 , 163.42 , 338.08 , 58.06 ]}
        ]
    };

    var graph_smallDBs = {
        labels: [
            /*[# th:each="o : ${smallLabels}" ]*/
            /*[[${ o[0] }]]*/  ,
            /*[/]*/
        ],
        datasets: [
            {
                label: 'Generic DWH All Combinations',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallGdwhACBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Generic DWH No Combinations',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallGdwhNCBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallStarQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallSnowQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]}
        ]
    };

    var graph_1gbDBs = {
        labels: [
            /*[# th:each="o : ${oneGBLabels}" ]*/
            /*[[${ o[0] }]]*/,
            /*[/]*/
        ],
        datasets: [
            {
                label: 'Generic DWH All Combinations',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBGdwhACBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Generic DWH No Combinations',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBGdwhNCBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBStarQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBSnowQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]}
        ]
    };

    var graph_total = {
        labels: ["Small","1 GB","10 GB", "30 GB", "100 GB"],
        datasets: [
            {
                label: 'Generic DWH All Combinations',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${gdwhACBCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Generic DWH No Combinations',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${gdwhNCBCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${starCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${snowCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]}
        ]
    };

    window.onload = function() {
        var graph_SF1 = document.getElementById('graph_SF1').getContext('2d');
        window.myBar = new Chart(graph_SF1, {
            type: 'bar',
            data: graph_SF1_data,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Running Time - SF 1'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '#Query'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time (sec)'
                        }
                    }]
                }
            }
        });

        var graph_SF10 = document.getElementById('graph_SF10').getContext('2d');
        window.myBar = new Chart(graph_SF10, {
            type: 'bar',
            data: graph_SF10_data,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Running Time - SF 10'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '#Query'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time (sec)'
                        }
                    }]
                }
            }
        });

        var ctx_graph_smallDBs = document.getElementById('graph_smallDBs').getContext('2d');
        window.myBar = new Chart(ctx_graph_smallDBs, {
            type: 'bar',
            data: graph_smallDBs,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Average Time Performance from Small DBs'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Query String ID'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time (ms)'
                        }
                    }]
                }
            }
        });

        var ctx_graph_1gbDBs = document.getElementById('graph_1gbDBs').getContext('2d');
        window.myBar = new Chart(ctx_graph_1gbDBs, {
            type: 'bar',
            data: graph_1gbDBs,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Average Time Performance from 1 GB DBs'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Query String ID'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time (ms)'
                        }
                    }]
                }
            }
        });

        var ctx_graph_total = document.getElementById('graph_total').getContext('2d');
        window.myBar = new Chart(ctx_graph_total, {
            type: 'bar',
            data: graph_total,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Count for each DB Size '
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'DB Sizes'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Query Count'
                        }
                    }]
                }
            }
        });

    };

    var colorNames = Object.keys(window.chartColors);
    /*]]>*/
</script>
</body>
</html>