<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'stats')}">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
</head>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <h3 class="text-center">Query Times for each DB Size and Model</h3>
        <br/>
        <div class="card">
            <div class="card-header">
                Top 5 Slowest Queries on Small DBs
            </div>
            <div class="card-body">
                <canvas id="graph_smallDBs"></canvas>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Queries
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Queried Dimensions and Ratios for Small DB</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="queryStringSmall: ${queryStringsSmall}">
                        <td th:text="${queryStringSmall.getQueryStringId()}"></td>
                        <td th:text="${queryStringSmall.getRefObjRatios()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Top 5 Slowest Queries on 1GB DBs
            </div>
            <div class="card-body">
                <canvas id="graph_1gbDBs"></canvas>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Queries
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Queried Dimensions and Ratios for 1GB DB</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="queryString1GB: ${queryStrings1GB}">
                        <td th:text="${queryString1GB.getQueryStringId()}"></td>
                        <td th:text="${queryString1GB.getRefObjRatios()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        <div class="card">
            <div class="card-header">
                Query Count for each DB Size
            </div>
            <div class="card-body">
                <canvas id="graph_total"></canvas>
            </div>
        </div>
        <br/>

    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
        integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
<script th:src="@{/resources/js/graph.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var color = Chart.helpers.color;
    var graph_smallDBs = {
        labels: [
            /*[# th:each="o : ${smallLabels}" ]*/
            /*[[${ o[0] }]]*/  ,
            /*[/]*/
        ],
        datasets: [
            {
                label: 'Generic DWH ACB',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallGdwhACBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Generic DWH NCB',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallGdwhNCBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallStarQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${smallSnowQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]}
        ]
    };

    var graph_1gbDBs = {
        labels: [
            /*[# th:each="o : ${oneGBLabels}" ]*/
            /*[[${ o[0] }]]*/,
            /*[/]*/
        ],
        datasets: [
            {
                label: 'Generic DWH ACB',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBGdwhACBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Generic DWH NCB',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBGdwhNCBQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBStarQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${oneGBSnowQueryTime}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]}
        ]
    };

    var graph_total = {
        labels: ["Small","1 GB","10 GB", "30 GB", "100 GB"],
        datasets: [
            {
                label: 'Generic DWH ACB',
                backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${gdwhACBCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Generic DWH NCB',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${gdwhNCBCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Star',
                backgroundColor: color(window.chartColors.orange).alpha(0.5).rgbString(),
                borderColor: window.chartColors.orange,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${starCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]},
            {
                label: 'Snowflake',
                backgroundColor: color(window.chartColors.purple).alpha(0.5).rgbString(),
                borderColor: window.chartColors.purple,
                borderWidth: 1,
                data: [
                    /*[# th:each="o : ${snowCountQueries}" ]*/
                    /*[[${ o[0] }]]*/,
                    /*[/]*/
                ]}
        ]
    };

    window.onload = function() {
        var ctx_graph_smallDBs = document.getElementById('graph_smallDBs').getContext('2d');
        window.myBar = new Chart(ctx_graph_smallDBs, {
            type: 'bar',
            data: graph_smallDBs,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Average Time Performance from Small DBs'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Query String ID'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time (ms)'
                        }
                    }]
                }
            }
        });

        var ctx_graph_1gbDBs = document.getElementById('graph_1gbDBs').getContext('2d');
        window.myBar = new Chart(ctx_graph_1gbDBs, {
            type: 'bar',
            data: graph_1gbDBs,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Average Time Performance from 1 GB DBs'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Query String ID'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time (ms)'
                        }
                    }]
                }
            }
        });

        var ctx_graph_total = document.getElementById('graph_total').getContext('2d');
        window.myBar = new Chart(ctx_graph_total, {
            type: 'bar',
            data: graph_total,
            options: {
                responsive: true,
                legend: {
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Query Count for each DB Size '
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'DB Sizes'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            beginAtZero: true   // minimum value will be 0.
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Query Count'
                        }
                    }]
                }
            }
        });

    };

    var colorNames = Object.keys(window.chartColors);
    /*]]>*/
</script>
</body>
</html>