@import "navbar-top-fixed.css";

.ajax-spinner {
}
.ajax-spinner-16 {
    background: url('/resources/images/ajax-spinner-16.gif');
    display: inline-block;
    height: 16px;
    width: 16px;
}

.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}

ul.defined-filters,
ul.ratios,
ul.dimensions {
    list-style: none;
    padding: 0;
}
ul.defined-filters > li,
ul.ratios > li,
ul.dimensions > li {
    border-bottom: 1px dotted #ccc;
    padding: 2px 0;
}
ul.defined-filters > li {
    display: flex;
    align-items: center;
}
ul.defined-filters > li.placeholder:not(:last-of-type) {
    display: none;
}