<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="dimensions">
    <!--/*@thymesVar id="fact" type="de.wwu.ercis.genericdwhapp.model.genericdwh.Dimension"*/-->
    <div class="card border-dark mb-3" th:each="dimensionRoot : ${dimensionRoots}">
        <div class="card-header" >
            <span class="dimension-root" th:if="'null' == ${dimensionRoot.parentId}" th:name="${dimensionRoot.name}" th:text="${dimensionRoot.name}" th:id="${dimensionRoot.id}"></span>
        </div>
        <div class="card-body">
            <span th:each="dimension : ${dimensionRoot.childrenItems}" th:remove="tag">
                 <input class="dimension" type="checkbox" th:text="'  ' + ${dimension.name}" th:name="dimensionChecked" th:id="${dimension.name}" th:value="${dimension.id}"
                    th:alt="${dimensionRoot.name}" th:title="${dimension.parentId}">
                 <br/>
            </span>
        </div>
    </div>
</section>
</body>
</html>