<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="dimensions" >
    <!--/*@thymesVar id="fact" type="de.wwu.ercis.genericdwhapp.model.genericdwh.DimensionRoot"*/-->
    <th:block th:each="hierarchyLevel : ${roots}">
        <span th:if="'null' == ${hierarchyLevel.parentId}" th:remove="tag">
            <div class="card border-dark mb-3">
                <div class="card-header" th:text="${hierarchyLevel.name}" th:id="${hierarchyLevel.id}"></div>
                <div class="card-body">
        </span>
                <input type="checkbox" th:if="'null' != ${hierarchyLevel.parentId}"
                       th:name="dimensionChecked"
                       th:value="${hierarchyLevel.id}"
                       th:text="'  ' + ${hierarchyLevel.name}">
                <section th:include="genericdwh/_dimensions.html :: dimensions" th:with="roots=${hierarchyLevel.childrenItems}"/>
        <span th:if="'null' == ${hierarchyLevel.parentId}" th:remove="tag">
                </div>
            </div>
        </span>
    </th:block>
</section>
</body>
</html>