<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'adhoc')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="customizing" th:action="@{|/genericdwh/adHocResults/${db}|}" method="get">

                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            Ad Hoc Query Generic DWH TPC-H on DB Connection:  <a class="alert-link" th:text="${db}"/>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">SQL: </span>
                            </div>
                            <textarea name="adHocQuery" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary float-right">Preview</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <br/>

            <div th:if="not ${#strings.contains(db, 'sf10')}" th:remove="tag">

                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q11" aria-expanded="false" aria-controls="collapseExample">
                        #Q1.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q21" aria-expanded="false" aria-controls="collapseExample">
                        #Q2.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q22" aria-expanded="false" aria-controls="collapseExample">
                        #Q2.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q31" aria-expanded="false" aria-controls="collapseExample">
                        #Q3.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q32" aria-expanded="false" aria-controls="collapseExample">
                        #Q3.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q33" aria-expanded="false" aria-controls="collapseExample">
                        #Q3.3
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q41" aria-expanded="false" aria-controls="collapseExample">
                        #Q4.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q51" aria-expanded="false" aria-controls="collapseExample">
                        #Q5.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q52" aria-expanded="false" aria-controls="collapseExample">
                        #Q5.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q61" aria-expanded="false" aria-controls="collapseExample">
                        #Q6.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q71" aria-expanded="false" aria-controls="collapseExample">
                        #Q7.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q72" aria-expanded="false" aria-controls="collapseExample">
                        #Q7.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q81" aria-expanded="false" aria-controls="collapseExample">
                        #Q8.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q91" aria-expanded="false" aria-controls="collapseExample">
                        #Q9.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q101" aria-expanded="false" aria-controls="collapseExample">
                        #Q10.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q102" aria-expanded="false" aria-controls="collapseExample">
                        #Q10.2
                    </button>
                </p>
                <div class="collapse" id="q11">
                    <div class="card card-body">
                        SELECT _REGION.NAME AS 'REGION',_YEAR.NAME AS 'YEAR', SUM(REVENUE.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _NATION_REGION ON _NATION_REGION.CHILD_ID = _NATION.ID
                        INNER JOIN REFERENCE_OBJECT _REGION ON _REGION.ID = _NATION_REGION.PARENT_ID AND _REGION.DIMENSION_ID = 2
                            AND _REGION.NAME = "EUROPE"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                            AND _YEAR.NAME = "1998"
                        INNER JOIN FACT REVENUE ON REVENUE.REFERENCE_OBJECT_ID = RO.ID AND REVENUE.RATIO_ID = 1
                        WHERE RO.DIMENSION_ID IN(20);

                    </div>
                </div>
                <div class="collapse" id="q21">
                    <div class="card card-body">
                        SELECT _MARKET_SEGMENT.NAME AS 'MARKET_SEGMENT', _MONTH.NAME AS 'MONTH', SUM(PROFIT.VALUE), SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                            AND _MONTH.NAME = "1995-12"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_MARKET_SEGMENT ON _CUSTOMER_NAME_MARKET_SEGMENT.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _MARKET_SEGMENT ON _MARKET_SEGMENT.ID = _CUSTOMER_NAME_MARKET_SEGMENT.PARENT_ID AND _MARKET_SEGMENT.DIMENSION_ID = 4
                            AND _MARKET_SEGMENT.NAME = "AUTOMOBILE"
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20);

                    </div>
                </div>
                <div class="collapse" id="q22">
                    <div class="card card-body">
                        SELECT _MARKET_SEGMENT.NAME AS 'MARKET_SEGMENT',_MONTH.NAME AS 'MONTH', SUM(PROFIT.VALUE),SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                            AND (_MONTH.NAME = "1994-03" OR _MONTH.NAME = "1994-06" OR _MONTH.NAME = "1994-12")
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_MARKET_SEGMENT ON _CUSTOMER_NAME_MARKET_SEGMENT.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _MARKET_SEGMENT ON _MARKET_SEGMENT.ID = _CUSTOMER_NAME_MARKET_SEGMENT.PARENT_ID AND _MARKET_SEGMENT.DIMENSION_ID = 4
                            AND (_MARKET_SEGMENT.NAME = "AUTOMOBILE" OR _MARKET_SEGMENT.NAME = "FURNITURE" OR _MARKET_SEGMENT.NAME = "MACHINERY")
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _MARKET_SEGMENT.ID,_MONTH.ID
                        HAVING SUM(PURCHASE_AMOUNT.VALUE) >= 4000;

                    </div>
                </div>
                <div class="collapse" id="q31">
                    <div class="card card-body">
                        SELECT _NATION.NAME AS 'NATION',_PRODUCT_TYPE.NAME AS 'PRODUCT_TYPE',_YEAR.NAME AS 'YEAR', SUM(PRODUCT_COST.VALUE),SUM(PROFIT.VALUE),SUM(SELL_PRICE.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                            AND _NATION.NAME = "BRAZIL"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_TYPE ON _PRODUCT_NAME_PRODUCT_TYPE.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_TYPE ON _PRODUCT_TYPE.ID = _PRODUCT_NAME_PRODUCT_TYPE.PARENT_ID AND _PRODUCT_TYPE.DIMENSION_ID = 8
                        AND _PRODUCT_TYPE.NAME = "SMALL PLATED TIN"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                            AND _YEAR.NAME = "1997"
                        INNER JOIN FACT PRODUCT_COST ON PRODUCT_COST.REFERENCE_OBJECT_ID = RO.ID AND PRODUCT_COST.RATIO_ID = 2
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT SELL_PRICE ON SELL_PRICE.REFERENCE_OBJECT_ID = RO.ID AND SELL_PRICE.RATIO_ID = 4
                        WHERE RO.DIMENSION_ID IN(20);

                    </div>
                </div>
                <div class="collapse" id="q32">
                    <div class="card card-body">
                        SELECT _NATION.NAME AS 'NATION',_PRODUCT_TYPE.NAME AS 'PRODUCT_TYPE',_YEAR.NAME AS 'YEAR', SUM(PRODUCT_COST.VALUE),SUM(PROFIT.VALUE),SUM(SELL_PRICE.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_TYPE ON _PRODUCT_NAME_PRODUCT_TYPE.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_TYPE ON _PRODUCT_TYPE.ID = _PRODUCT_NAME_PRODUCT_TYPE.PARENT_ID AND _PRODUCT_TYPE.DIMENSION_ID = 8
                            AND _PRODUCT_TYPE.NAME = "PROMO POLISHED COPPER"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                            AND (_YEAR.NAME = "1993" OR  _YEAR.NAME = "1994" OR  _YEAR.NAME = "1995" OR _YEAR.NAME = "1996")
                        INNER JOIN FACT PRODUCT_COST ON PRODUCT_COST.REFERENCE_OBJECT_ID = RO.ID AND PRODUCT_COST.RATIO_ID = 2
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT SELL_PRICE ON SELL_PRICE.REFERENCE_OBJECT_ID = RO.ID AND SELL_PRICE.RATIO_ID = 4
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _NATION.ID,_PRODUCT_TYPE.ID,_YEAR.ID;

                    </div>
                </div>
                <div class="collapse" id="q33">
                    <div class="card card-body">
                        SELECT _NATION.NAME AS 'NATION',_PRODUCT_TYPE.NAME AS 'PRODUCT_TYPE',_YEAR.NAME AS 'YEAR', SUM(PRODUCT_COST.VALUE),SUM(PROFIT.VALUE),SUM(SELL_PRICE.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                            AND (_NATION.NAME = "BRAZIL" OR _NATION.NAME = "UNITED STATES" OR _NATION.NAME = "JAPAN")
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_TYPE ON _PRODUCT_NAME_PRODUCT_TYPE.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_TYPE ON _PRODUCT_TYPE.ID = _PRODUCT_NAME_PRODUCT_TYPE.PARENT_ID AND _PRODUCT_TYPE.DIMENSION_ID = 8
                            AND (_PRODUCT_TYPE.NAME = "LARGE ANODIZED NICKEL" OR _PRODUCT_TYPE.NAME = "LARGE ANODIZED STEEL" OR _PRODUCT_TYPE.NAME = "LARGE ANODIZED TIN")
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                            AND _YEAR.NAME = "1995"
                        INNER JOIN FACT PRODUCT_COST ON PRODUCT_COST.REFERENCE_OBJECT_ID = RO.ID AND PRODUCT_COST.RATIO_ID = 2
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT SELL_PRICE ON SELL_PRICE.REFERENCE_OBJECT_ID = RO.ID AND SELL_PRICE.RATIO_ID = 4
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _NATION.ID,_PRODUCT_TYPE.ID,_YEAR.ID
                        ORDER BY _NATION.NAME,_PRODUCT_TYPE.NAME,_YEAR.NAME;

                    </div>
                </div>
                <div class="collapse" id="q41">
                    <div class="card card-body">
                        SELECT _CLERK_NAME.NAME AS 'CLERK_NAME',_MANUFACTURER_GROUP.NAME AS 'MANUFACTURER_GROUP',_YEAR.NAME AS 'YEAR', SUM(REVENUE.VALUE),SUM(PROFIT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CLERK_NAME ON _RO_CLERK_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CLERK_NAME ON _CLERK_NAME.ID = _RO_CLERK_NAME.SUBORDINATE_ID AND _CLERK_NAME.DIMENSION_ID = 1
                            AND _CLERK_NAME.NAME = "CLERK#000000015"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_BRAND ON _PRODUCT_NAME_PRODUCT_BRAND.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_BRAND ON _PRODUCT_BRAND.ID = _PRODUCT_NAME_PRODUCT_BRAND.PARENT_ID AND _PRODUCT_BRAND.DIMENSION_ID = 7
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_BRAND_MANUFACTURER_GROUP ON _PRODUCT_BRAND_MANUFACTURER_GROUP.CHILD_ID = _PRODUCT_BRAND.ID
                        INNER JOIN REFERENCE_OBJECT _MANUFACTURER_GROUP ON _MANUFACTURER_GROUP.ID = _PRODUCT_BRAND_MANUFACTURER_GROUP.PARENT_ID AND _MANUFACTURER_GROUP.DIMENSION_ID = 6
                            AND (_MANUFACTURER_GROUP.NAME = "MANUFACTURER#2" OR _MANUFACTURER_GROUP.NAME = "MANUFACTURER#5")
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                            AND _YEAR.NAME = "1993"
                        INNER JOIN FACT REVENUE ON REVENUE.REFERENCE_OBJECT_ID = RO.ID AND REVENUE.RATIO_ID = 1
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _MANUFACTURER_GROUP.ID;

                    </div>
                </div>
                <div class="collapse" id="q51">
                    <div class="card card-body">
                        SELECT _REGION.NAME AS 'REGION',_MANUFACTURER_GROUP.NAME AS 'MANUFACTURER_GROUP',_YEAR.NAME AS 'YEAR',_MONTH.NAME AS 'MONTH', SUM(REVENUE.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                            AND _MONTH.NAME = "1992-11"
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _NATION_REGION ON _NATION_REGION.CHILD_ID = _NATION.ID
                        INNER JOIN REFERENCE_OBJECT _REGION ON _REGION.ID = _NATION_REGION.PARENT_ID AND _REGION.DIMENSION_ID = 2
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_BRAND ON _PRODUCT_NAME_PRODUCT_BRAND.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_BRAND ON _PRODUCT_BRAND.ID = _PRODUCT_NAME_PRODUCT_BRAND.PARENT_ID AND _PRODUCT_BRAND.DIMENSION_ID = 7
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_BRAND_MANUFACTURER_GROUP ON _PRODUCT_BRAND_MANUFACTURER_GROUP.CHILD_ID = _PRODUCT_BRAND.ID
                        INNER JOIN REFERENCE_OBJECT _MANUFACTURER_GROUP ON _MANUFACTURER_GROUP.ID = _PRODUCT_BRAND_MANUFACTURER_GROUP.PARENT_ID AND _MANUFACTURER_GROUP.DIMENSION_ID = 6
                            AND _MANUFACTURER_GROUP.NAME = "MANUFACTURER#4"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                        INNER JOIN FACT REVENUE ON REVENUE.REFERENCE_OBJECT_ID = RO.ID AND REVENUE.RATIO_ID = 1
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _REGION.ID,_MANUFACTURER_GROUP.ID,_YEAR.ID,_MONTH.ID;

                    </div>
                </div>
                <div class="collapse" id="q52">
                    <div class="card card-body">
                        SELECT _REGION.NAME AS 'REGION',_MANUFACTURER_GROUP.NAME AS 'MANUFACTURER_GROUP',_YEAR.NAME AS 'YEAR',_MONTH.NAME AS 'MONTH', SUM(REVENUE.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _NATION_REGION ON _NATION_REGION.CHILD_ID = _NATION.ID
                        INNER JOIN REFERENCE_OBJECT _REGION ON _REGION.ID = _NATION_REGION.PARENT_ID AND _REGION.DIMENSION_ID = 2
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_BRAND ON _PRODUCT_NAME_PRODUCT_BRAND.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_BRAND ON _PRODUCT_BRAND.ID = _PRODUCT_NAME_PRODUCT_BRAND.PARENT_ID AND _PRODUCT_BRAND.DIMENSION_ID = 7
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_BRAND_MANUFACTURER_GROUP ON _PRODUCT_BRAND_MANUFACTURER_GROUP.CHILD_ID = _PRODUCT_BRAND.ID
                        INNER JOIN REFERENCE_OBJECT _MANUFACTURER_GROUP ON _MANUFACTURER_GROUP.ID = _PRODUCT_BRAND_MANUFACTURER_GROUP.PARENT_ID AND _MANUFACTURER_GROUP.DIMENSION_ID = 6
                            AND (_MANUFACTURER_GROUP.NAME = "MANUFACTURER#1" OR _MANUFACTURER_GROUP.NAME = "MANUFACTURER#3")
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                            AND (_YEAR.NAME = "1996" OR _YEAR.NAME = "1997" OR _YEAR.NAME = "1998")
                        INNER JOIN FACT REVENUE ON REVENUE.REFERENCE_OBJECT_ID = RO.ID AND REVENUE.RATIO_ID = 1
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _REGION.ID,_MANUFACTURER_GROUP.ID,_YEAR.ID,_MONTH.ID;

                    </div>
                </div>
                <div class="collapse" id="q61">
                    <div class="card card-body">
                        SELECT _MARKET_SEGMENT.NAME AS 'MARKET_SEGMENT',_PRODUCT_TYPE.NAME AS 'PRODUCT_TYPE',_SUPPLIER_NAME.NAME AS 'SUPPLIER_NAME',_YEAR.NAME AS 'YEAR', SUM(PRODUCT_COST.VALUE),SUM(SELL_PRICE.VALUE),SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_SUPPLIER_NAME ON _RO_SUPPLIER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _SUPPLIER_NAME ON _SUPPLIER_NAME.ID = _RO_SUPPLIER_NAME.SUBORDINATE_ID AND _SUPPLIER_NAME.DIMENSION_ID = 10
                            AND _SUPPLIER_NAME.NAME = "SUPPLIER#000000093"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_MARKET_SEGMENT ON _CUSTOMER_NAME_MARKET_SEGMENT.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _MARKET_SEGMENT ON _MARKET_SEGMENT.ID = _CUSTOMER_NAME_MARKET_SEGMENT.PARENT_ID AND _MARKET_SEGMENT.DIMENSION_ID = 4
                            AND _MARKET_SEGMENT.NAME = "MACHINERY"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_TYPE ON _PRODUCT_NAME_PRODUCT_TYPE.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_TYPE ON _PRODUCT_TYPE.ID = _PRODUCT_NAME_PRODUCT_TYPE.PARENT_ID AND _PRODUCT_TYPE.DIMENSION_ID = 8
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                            AND (_YEAR.NAME = "1995" OR _YEAR.NAME = "1996" OR _YEAR.NAME = "1997")
                        INNER JOIN FACT PRODUCT_COST ON PRODUCT_COST.REFERENCE_OBJECT_ID = RO.ID AND PRODUCT_COST.RATIO_ID = 2
                        INNER JOIN FACT SELL_PRICE ON SELL_PRICE.REFERENCE_OBJECT_ID = RO.ID AND SELL_PRICE.RATIO_ID = 4
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _MARKET_SEGMENT.ID,_PRODUCT_TYPE.ID,_SUPPLIER_NAME.ID,_YEAR.ID
                        ORDER BY _MARKET_SEGMENT.NAME,_PRODUCT_TYPE.NAME,_SUPPLIER_NAME.NAME,_YEAR.NAME;

                    </div>
                </div>
                <div class="collapse" id="q71">
                    <div class="card card-body">
                        SELECT _CUSTOMER_NAME.NAME AS 'CUSTOMER_NAME',_PRODUCT_BRAND.NAME AS 'PRODUCT_BRAND',_YEAR.NAME AS 'YEAR',_MONTH.NAME AS 'MONTH', SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_BRAND ON _PRODUCT_NAME_PRODUCT_BRAND.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_BRAND ON _PRODUCT_BRAND.ID = _PRODUCT_NAME_PRODUCT_BRAND.PARENT_ID AND _PRODUCT_BRAND.DIMENSION_ID = 7
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _CUSTOMER_NAME.ID,_PRODUCT_BRAND.ID,_YEAR.ID,_MONTH.ID
                        HAVING SUM(PURCHASE_AMOUNT.VALUE) > 199
                        ORDER BY SUM(PURCHASE_AMOUNT.VALUE) DESC;

                    </div>
                </div>
                <div class="collapse" id="q72">
                    <div class="card card-body">
                        SELECT _CUSTOMER_NAME.NAME AS 'CUSTOMER_NAME',_PRODUCT_BRAND.NAME AS 'PRODUCT_BRAND',_YEAR.NAME AS 'YEAR',_MONTH.NAME AS 'MONTH', SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_MONTH ON _RO_MONTH.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _MONTH ON _MONTH.ID = _RO_MONTH.SUBORDINATE_ID AND _MONTH.DIMENSION_ID = 18
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                            AND _CUSTOMER_NAME.NAME = "Customer#000142346"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_BRAND ON _PRODUCT_NAME_PRODUCT_BRAND.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_BRAND ON _PRODUCT_BRAND.ID = _PRODUCT_NAME_PRODUCT_BRAND.PARENT_ID AND _PRODUCT_BRAND.DIMENSION_ID = 7
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _MONTH_YEAR ON _MONTH_YEAR.CHILD_ID = _MONTH.ID
                        INNER JOIN REFERENCE_OBJECT _YEAR ON _YEAR.ID = _MONTH_YEAR.PARENT_ID AND _YEAR.DIMENSION_ID = 17
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _PRODUCT_BRAND.ID,_YEAR.ID,_MONTH.ID
                        ORDER BY SUM(PURCHASE_AMOUNT.VALUE) DESC;

                    </div>
                </div>
                <div class="collapse" id="q81">
                    <div class="card card-body">
                        SELECT _CLERK_NAME.NAME AS 'CLERK_NAME',_REGION.NAME AS 'REGION',_MARKET_SEGMENT.NAME AS 'MARKET_SEGMENT', SUM(REVENUE.VALUE),SUM(PRODUCT_COST.VALUE),SUM(PROFIT.VALUE),SUM(SELL_PRICE.VALUE),SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CLERK_NAME ON _RO_CLERK_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CLERK_NAME ON _CLERK_NAME.ID = _RO_CLERK_NAME.SUBORDINATE_ID AND _CLERK_NAME.DIMENSION_ID = 1
                            AND _CLERK_NAME.NAME = "CLERK#000000535"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _NATION_REGION ON _NATION_REGION.CHILD_ID = _NATION.ID
                        INNER JOIN REFERENCE_OBJECT _REGION ON _REGION.ID = _NATION_REGION.PARENT_ID AND _REGION.DIMENSION_ID = 2
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_MARKET_SEGMENT ON _CUSTOMER_NAME_MARKET_SEGMENT.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _MARKET_SEGMENT ON _MARKET_SEGMENT.ID = _CUSTOMER_NAME_MARKET_SEGMENT.PARENT_ID AND _MARKET_SEGMENT.DIMENSION_ID = 4
                            AND _MARKET_SEGMENT.NAME = "FURNITURE"
                        INNER JOIN FACT REVENUE ON REVENUE.REFERENCE_OBJECT_ID = RO.ID AND REVENUE.RATIO_ID = 1
                        INNER JOIN FACT PRODUCT_COST ON PRODUCT_COST.REFERENCE_OBJECT_ID = RO.ID AND PRODUCT_COST.RATIO_ID = 2
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT SELL_PRICE ON SELL_PRICE.REFERENCE_OBJECT_ID = RO.ID AND SELL_PRICE.RATIO_ID = 4
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _CLERK_NAME.ID,_REGION.ID,_MARKET_SEGMENT.ID
                        ORDER BY _CLERK_NAME.NAME,_REGION.NAME,_MARKET_SEGMENT.NAME;

                    </div>
                </div>
                <div class="collapse" id="q91">
                    <div class="card card-body">
                        SELECT _NATION.NAME AS 'NATION',_MARKET_SEGMENT.NAME AS 'MARKET_SEGMENT',_SUPPLIER_NAME.NAME AS 'SUPPLIER_NAME', SUM(REVENUE.VALUE),SUM(PRODUCT_COST.VALUE),SUM(SELL_PRICE.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CUSTOMER_NAME ON _RO_CUSTOMER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CUSTOMER_NAME ON _CUSTOMER_NAME.ID = _RO_CUSTOMER_NAME.SUBORDINATE_ID AND _CUSTOMER_NAME.DIMENSION_ID = 5
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_SUPPLIER_NAME ON _RO_SUPPLIER_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _SUPPLIER_NAME ON _SUPPLIER_NAME.ID = _RO_SUPPLIER_NAME.SUBORDINATE_ID AND _SUPPLIER_NAME.DIMENSION_ID = 10
                            AND _SUPPLIER_NAME.NAME = "SUPPLIER#000000024"
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_NATION ON _CUSTOMER_NAME_NATION.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _NATION ON _NATION.ID = _CUSTOMER_NAME_NATION.PARENT_ID AND _NATION.DIMENSION_ID = 3
                            AND (_NATION.NAME ="CANADA" OR _NATION.NAME = "UNITED STATES")
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _CUSTOMER_NAME_MARKET_SEGMENT ON _CUSTOMER_NAME_MARKET_SEGMENT.CHILD_ID = _CUSTOMER_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _MARKET_SEGMENT ON _MARKET_SEGMENT.ID = _CUSTOMER_NAME_MARKET_SEGMENT.PARENT_ID AND _MARKET_SEGMENT.DIMENSION_ID = 4
                        INNER JOIN FACT REVENUE ON REVENUE.REFERENCE_OBJECT_ID = RO.ID AND REVENUE.RATIO_ID = 1
                        INNER JOIN FACT PRODUCT_COST ON PRODUCT_COST.REFERENCE_OBJECT_ID = RO.ID AND PRODUCT_COST.RATIO_ID = 2
                        INNER JOIN FACT SELL_PRICE ON SELL_PRICE.REFERENCE_OBJECT_ID = RO.ID AND SELL_PRICE.RATIO_ID = 4
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _NATION.ID,_MARKET_SEGMENT.ID,_SUPPLIER_NAME.ID
                        ORDER BY _NATION.NAME,_MARKET_SEGMENT.NAME,_SUPPLIER_NAME.NAME;

                    </div>
                </div>
                <div class="collapse" id="q101">
                    <div class="card card-body">
                        SELECT _CLERK_NAME.NAME AS 'CLERK_NAME',_PRODUCT_BRAND.NAME AS 'PRODUCT_BRAND',_PRODUCT_NAME.NAME AS 'PRODUCT_NAME', SUM(PROFIT.VALUE),SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_CLERK_NAME ON _RO_CLERK_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _CLERK_NAME ON _CLERK_NAME.ID = _RO_CLERK_NAME.SUBORDINATE_ID AND _CLERK_NAME.DIMENSION_ID = 1
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_BRAND ON _PRODUCT_NAME_PRODUCT_BRAND.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_BRAND ON _PRODUCT_BRAND.ID = _PRODUCT_NAME_PRODUCT_BRAND.PARENT_ID AND _PRODUCT_BRAND.DIMENSION_ID = 7
                            AND _PRODUCT_BRAND.NAME = "BRAND#41"
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _CLERK_NAME.ID,_PRODUCT_BRAND.ID,_PRODUCT_NAME.ID
                        HAVING SUM(PROFIT.VALUE) < 0
                        ORDER BY _CLERK_NAME.NAME,_PRODUCT_BRAND.NAME,_PRODUCT_NAME.NAME;

                    </div>
                </div>
                <div class="collapse" id="q102">
                    <div class="card card-body">
                        SELECT _PRODUCT_BRAND.NAME AS 'PRODUCT_BRAND',_PRODUCT_NAME.NAME AS 'PRODUCT_NAME', SUM(PROFIT.VALUE),SUM(PURCHASE_AMOUNT.VALUE) FROM REFERENCE_OBJECT RO
                        INNER JOIN REFERENCE_OBJECT_COMBINATION _RO_PRODUCT_NAME ON _RO_PRODUCT_NAME.COMBINATION_ID = RO.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_NAME ON _PRODUCT_NAME.ID = _RO_PRODUCT_NAME.SUBORDINATE_ID AND _PRODUCT_NAME.DIMENSION_ID = 9
                        INNER JOIN REFERENCE_OBJECT_HIERARCHY _PRODUCT_NAME_PRODUCT_BRAND ON _PRODUCT_NAME_PRODUCT_BRAND.CHILD_ID = _PRODUCT_NAME.ID
                        INNER JOIN REFERENCE_OBJECT _PRODUCT_BRAND ON _PRODUCT_BRAND.ID = _PRODUCT_NAME_PRODUCT_BRAND.PARENT_ID AND _PRODUCT_BRAND.DIMENSION_ID = 7
                        INNER JOIN FACT PROFIT ON PROFIT.REFERENCE_OBJECT_ID = RO.ID AND PROFIT.RATIO_ID = 3
                        INNER JOIN FACT PURCHASE_AMOUNT ON PURCHASE_AMOUNT.REFERENCE_OBJECT_ID = RO.ID AND PURCHASE_AMOUNT.RATIO_ID = 5
                        WHERE RO.DIMENSION_ID IN(20)
                        GROUP BY _PRODUCT_BRAND.ID,_PRODUCT_NAME.ID
                        HAVING SUM(PROFIT.VALUE) < 0
                        ORDER BY SUM(PROFIT.VALUE);

                    </div>
                </div>

            </div>

            <div th:if="${#strings.contains(db, 'sf10')}" th:remove="tag">

                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q11" aria-expanded="false" aria-controls="collapseExample">
                        #Q1.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q21" aria-expanded="false" aria-controls="collapseExample">
                        #Q2.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q22" aria-expanded="false" aria-controls="collapseExample">
                        #Q2.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q31" aria-expanded="false" aria-controls="collapseExample">
                        #Q3.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q32" aria-expanded="false" aria-controls="collapseExample">
                        #Q3.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q33" aria-expanded="false" aria-controls="collapseExample">
                        #Q3.3
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q41" aria-expanded="false" aria-controls="collapseExample">
                        #Q4.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q51" aria-expanded="false" aria-controls="collapseExample">
                        #Q5.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q52" aria-expanded="false" aria-controls="collapseExample">
                        #Q5.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q61" aria-expanded="false" aria-controls="collapseExample">
                        #Q6.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q71" aria-expanded="false" aria-controls="collapseExample">
                        #Q7.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q72" aria-expanded="false" aria-controls="collapseExample">
                        #Q7.2
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q81" aria-expanded="false" aria-controls="collapseExample">
                        #Q8.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q91" aria-expanded="false" aria-controls="collapseExample">
                        #Q9.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q101" aria-expanded="false" aria-controls="collapseExample">
                        #Q10.1
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#q102" aria-expanded="false" aria-controls="collapseExample">
                        #Q10.2
                    </button>
                </p>
                <div class="collapse" id="q11">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q21">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q22">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q31">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q32">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q33">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q41">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q51">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q52">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q61">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q71">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q71">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q72">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q81">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q91">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q101">
                    <div class="card card-body">

                    </div>
                </div>
                <div class="collapse" id="q102">
                    <div class="card card-body">

                    </div>
                </div>

            </div>


        </div>
    </div>
</div> <!-- /container -->
</body>
</html>