<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'query')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="customizing" th:action="@{|/snowflake/results/${db}|}" method="get">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            Query TPC-H Snowflake on:  <a class="alert-link" th:text="${db}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <span th:include="star/_filters.html :: filters"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-header">Ratios </div>
                            <div class="card-body">
                                <input type="checkbox" th:text="' Revenue'" th:name="ratioChecked" th:value="Revenue"><br/>
                                <input type="checkbox" th:text="' Product Cost'" th:name="ratioChecked" th:value="product_cost"><br/>
                                <input type="checkbox" th:text="' Profit'" th:name="ratioChecked" th:value="Profit"><br/>
                                <input type="checkbox" th:text="' Selling Price'" th:name="ratioChecked" th:value="selling_price"><br/>
                                <input type="checkbox" th:text="' Purchase Amount'" th:name="ratioChecked" th:value="l_quantity"><br/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="col-sm-6 col-md-8">
                        <div class="card">
                            <div class="card-header">Dimensions</div>
                            <div class="card-body">
                                <div class="card-columns">
                                    <div class="card border-dark mb-3">
                                        <div class="card-header">
                                            <span class="dimension-root" th:name="'Market Locations'"
                                                  th:text="'Market Locations'" th:id="'mktlocations'">
                                            </span>
                                        </div>
                                        <div class="card-body">
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:alt="'Market Locations'" th:title="'mktlocations'" th:id="'Region'"

                                                   th:value="r_name" th:text="' Region'"><br/>
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="n_name" th:text="' Nation'"><br/>
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="c_name" th:text="' Customer Name'"><br/>
                                        </div>
                                    </div>
                                    <div class="card border-dark mb-3">
                                        <div class="card-header" th:text="'Market Segments'" th:id="customers"></div>
                                        <div class="card-body">
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="market_segment" th:text="' Market Segment'"><br/>
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="c_name" th:text="' Customer Name'"><br/>
                                        </div>
                                    </div>
                                    <div class="card border-dark mb-3">
                                        <div class="card-header" th:text="'Manufacturer Groups'" th:id="products"></div>
                                        <div class="card-body">
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="manufacturer_group" th:text="' Manufacturer Group'"><br/>
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="product_brand" th:text="' Product Brand'"><br/>
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="p_name" th:text="' Product Name'"><br/>
                                        </div>
                                    </div>
                                    <div class="card border-dark mb-3">
                                        <div class="card-header" th:text="'Product Types'" th:id="products"></div>
                                        <div class="card-body">
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="product_type" th:text="' Product Type'"><br/>
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="p_name" th:text="' Product Name'"><br/>
                                        </div>
                                    </div>
                                    <div class="card border-dark mb-3">
                                        <div class="card-header" th:text="'Clerks'" th:id="clerks"></div>
                                        <div class="card-body">
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="o_clerk" th:text="' Clerk Name'"><br/>
                                        </div>
                                    </div>
                                    <div class="card border-dark mb-3">
                                        <div class="card-header" th:text="'Suppliers'" th:id="suppliers"></div>
                                        <div class="card-body">
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="s_name" th:text="' Supplier Name'"><br/>
                                        </div>
                                    </div>
                                    <div class="card border-dark mb-3">
                                        <div class="card-header" th:text="'Time'" th:id="time"></div>
                                        <div class="card-body">
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="d_year_number" th:text="' Year'"><br/>
                                            <input type="checkbox" th:name="dimensionChecked"
                                                   th:value="d_month_number" th:text="' Month'"><br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="validation-msg">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary float-right">Preview</button>
                    </div>
                </div>

                <script type="text/javascript" th:inline="javascript">
                    /*<![CDATA[*/
                    var db = /*[[${db}]]*/ 'db_not_set';
                    $(function() {

                        $(document).on('submit', 'form.customizing', function() {
                            var is_valid = validate_form();
                            if (!is_valid) {
                                return false;
                            }
                        });

                        $(document).on('click', '.add-filter', function() {
                            var uid = 'uid'+Math.floor((1 + Math.random()) * 0x10000).toString(16);
                            var type = $(this).attr('class').replace(/.*?([a-z\-]+\-filter\-type).*?/, '$1');

                            var $li = $('<li/>', { 'data-uid': uid });
                            $('<a/>', { class: 'icon ion-md-trash remove-filter', href: '#', title: 'Remove filter' }).after(' ').appendTo($li);
                            var $select = $('<select/>', { class: 'filter-dimension-select '+type, name: 'filters['+uid+'][dimension]' }).after(' ').appendTo($li);
                            $('<option/>').appendTo($select);

                            var last_root_id = null;
                            var $optgroup = null;
                            $('input.dimension').each(function() {
                                var $this = $(this);
                                var root_id = $this.attr('title');
                                if (root_id != last_root_id) {
                                    $optgroup = $('<optgroup/>', { label: $this.attr('alt') }).appendTo($select);
                                    last_root_id = root_id;
                                }
                                $('<option/>', { value: $this.attr('value') }).text($this.attr('id')).appendTo($optgroup);
                            });

                            $(this).closest('.filters').find('ul.defined-filters').append($li);
                            return false;
                        });

                        $(document).on('change', '.filter-dimension-select.single-object-filter-type', function() {
                            var uid = $(this).closest('li').data('uid');
                            var dimensionId = $(this).val();
                            var $container = $(this).parent();

                            $(this).nextAll().remove();
                            $('<span class="ajax-spinner ajax-spinner-16"></span>').after(' ').appendTo($container);

                            $.ajax({
                                type:'POST',
                                url: "/snowflake/getReferenceObjects/"+db,
                                contentType: "application/json",
                                data: JSON.stringify(dimensionId),
                                complete: function(jqXHR, textStatus) {
                                    $container.find('.ajax-spinner').remove();
                                    var $select = $('<select/>', { class: 'filter-reference-object-select',
                                        name: 'filters' });
                                    $.each(jqXHR.responseJSON, function(i, item) {
                                        $('<option/>', { value: item + '%%' + dimensionId }).text(item).appendTo($select);
                                    });
                                    $select.after(' ').appendTo($container);
                                } // complete
                            });
                        });

                        $(document).on('change', '.filter-dimension-select.multiple-objects-filter-type', function() {
                            var uid = $(this).closest('li').data('uid');
                            var dimensionId = $(this).val();
                            var $container = $(this).parent();

                            $(this).nextAll().remove();
                            $('<span class="ajax-spinner ajax-spinner-16"></span>').after(' ').appendTo($container);

                            $.ajax({
                                type:'POST',
                                url: "/snowflake/getReferenceObjects/"+db,
                                contentType: "application/json",
                                data: JSON.stringify(dimensionId),
                                complete: function(jqXHR, textStatus) {
                                    $container.find('.ajax-spinner').remove();
                                    var $select = $('<select/>', { class: 'filter-reference-object-select',
                                        name: 'filters', multiple: 'multiple' });
                                    $.each(jqXHR.responseJSON, function(i, item) {
                                        $('<option/>', { value: item + '%%' + dimensionId}).text(item).appendTo($select);
                                    });
                                    $select.after(' ').appendTo($container);
                                } // complete
                            });
                        });

                        $(document).on('click', '.clear-filters', function() {
                            $(this).closest('.filters').find('.remove-filter').click();
                            return false;
                        });

                        $(document).on('click', '.remove-filter', function() {
                            $(this).closest('li').remove();
                            return false;
                        });

                        $(document).on('change', $('[name="ratioChecked"]'), function() {
                            $('.validation-msg').empty();
                            validate_form();
                        });

                        $(document).on('change', $('[name="dimensionChecked"]'), function() {
                            $('.validation-msg').empty();
                            validate_form();
                        });


                        $('.validation-msg').empty();
                        var is_valid = true;

                        validate_form = function() {
                            var ratio_count = $('[name="ratioChecked"]:checked').length;
                            var dimension_count = $('[name="dimensionChecked"]:checked').length;
                            var is_valid = true;

                            if (ratio_count == 0 || dimension_count ==0) {
                                is_valid = false;
                                $('.validation-msg').append($('<div/>', { class: 'alert alert-danger' }).html('You have to select at least one ratio and one dimension.'));
                            } else {
                                var is_valid = true;
                            }

                            if (is_valid) {
                                $('button[type="submit"]').removeAttr('disabled');
                            } else {
                                $('button[type="submit"]').attr('disabled','disabled');
                            }
                            return is_valid;
                        };
                        validate_form();
                    });
                    /*]]>*/
                </script>

            </form>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>