<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="~{fragments/layout :: layout (~{::body},'snowflakeschema')}">
<head>
    <meta charset="UTF-8">
    <title>TPC-H Standard Model</title>
</head>
<body>

<main role="main" class="container">
    <div class="jumbotron">
        <h2>Snowflake Schema applied to TPC-H</h2>
        <p class="lead">Add model...</p>
        <p></p>
        <img class="img-thumbnail" src="../static/resources/images/tpch_std_db_schema.png" th:src="@{/resources/images/snow_flake_tpch.png.png}"/>
        <p></p>
    </div>
</main>

</body>
</html>