<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Generic DWH Tool</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145197961-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145197961-1');
    </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" >
    <link rel="stylesheet" th:href="@{/resources/css/genericdwh.css}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" th:href="@{/}"><i class="icon ion-md-cube"></i> Query DW-Designs Tool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/stats}">
                    <i class="icon ion-md-stats"></i>
                    Stats <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon ion-md-filing"></i>
                    TPC-H Standard</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                    <a class="dropdown-item" th:href="@{/tpchstandard}">DB Model</a>
                    <a class="dropdown-item" th:href="@{/tpchstandard/dwcube}">DW Cube Model</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon ion-md-color-wand"></i>
                    Generic DWH</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown08">
                    <li><a class="dropdown-item" th:href="@{/genericdwh}">DB Model</a></li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Mini</a>
                        <ul class="dropdown-menu">
                            <h6 class="dropdown-header">Querying:</h6>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_mini_dyn}">Dynamic </a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_mini_ncb}">No Combinations</a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_mini_acb}">All Combinations</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Util:</h6>
                            <a class="dropdown-item">Dynamic ETL </a>
                            <a class="dropdown-item">Generate All Combinations</a>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Small</a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_small_dyn}">Dynamic ETL</a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_small_ncb}">No Combinations</a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_small_acb}">All Combinations</a>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">SF 1</a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_sf1_dyn}">Dynamic ETL</a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_sf1_ncb}">No Combinations</a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_sf1_acb}">All Combinations</a>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">SF 10</a>
                        <ul class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_sf10_dyn}">Dynamic ETL</a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_sf10_ncb}">No Combinations</a>
                            <a class="dropdown-item" th:href="@{/genericdwh/query/tpch_gdwh_sf10_acb}">All Combinations</a>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon ion-md-star"></i>
                    Star Schema</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                    <a class="dropdown-item" th:href="@{/star}">DB Model</a>
                    <a class="dropdown-item" th:href="@{/star/query/tpch_star_mini}">Mini</a>
                    <a class="dropdown-item" th:href="@{/star/query/tpch_star_small}">Small</a>
                    <a class="dropdown-item" th:href="@{/star/query/tpch_star_sf1}">SF 1 </a>
                    <a class="dropdown-item" th:href="@{/star/query/tpch_star_sf10}">SF 10 </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon ion-md-snow"></i>
                    Snowflake Schema</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                    <a class="dropdown-item" th:href="@{/snowflake}">DB Model</a>
                    <a class="dropdown-item" th:href="@{/snowflake/query/tpch_snow_mini}">Mini </a>
                    <a class="dropdown-item" th:href="@{/snowflake/query/tpch_snow_small}">Small </a>
                    <a class="dropdown-item" th:href="@{/snowflake/query/tpch_snow_sf1}">SF 1 </a>
                    <a class="dropdown-item" th:href="@{/snowflake/query/tpch_snow_sf10}">SF 10 </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/credits}">
                    <i size="large" class="icon ion-md-flag"></i>
                    Credits</a>
            </li>
        </ul>
    </div>
</nav>
  <div class="container-fluid">
      <div class="container xd-container">
          <th:block th:include="${template}"/>
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
                <hr>
              <a href="https://www.ercis.org/">
                  <img src="../static/resources/images/ercis_logo.png" th:src="@{/resources/images/ercis_logo.png}"
                                                    alt="ERCIS - WWU - Muenster"/></a>
                <p></p>
                <p></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
